/* Group Number : GROUP10 
Topic Of The Project : Forum (quried)
Mentor - Sunil Kumar Aralimara Channappa 
Team Members : 
Siva A                       
Prabu K      
Joshva A                                             
Sree Bhavana Kasturi
Sagnik Das
Shiva Ganesh M
Tirupathi Reddy Devagiri
Neetha Jyothi Simhadri
Ashwin Mahendra Gawande
Shruti Govindalwar */

/* Stylesheet Description : this is common style file shared by all components */





.Cmodal-c{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.Cmodal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
}

/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .Cmodal-c {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(1px);
    }
    .Cmodal-c {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(1px);
    }
  } */